*{
    padding: opx;
    margin: 0px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: brown;
    text-decoration: dotted red 1px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase;
    background-color: bisque;
    font-weight: bolder;
    
    padding-top: 10px;
    border: 2px solid black;
}

h1{
    background-color: bisque;
    font-weight: bolder;
   
    padding-top: 10px;
    border: 2px solid black;
}

.box1{
    float: left;
    background-color: red;
    height: 100px;
    width: 100px;
}
.box2{
    background-color: yellow;
    height: 100px;
    width: 100px;
    float: right;
}
.box3{
    background-color: blue;
    clear: both;   /*clear: left; / clear: right;*/
    height: 100px;
    width: 100px;                     
}
.animate{
    text-align: center;
    background-color: red;
    height: 80px;
    width: 100px;
    animation-name: anima;
    animation-duration: 3s;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

@keyframes anima {
    from{}
    to{
        background-color: red;
        width: 10px;
    }
}